
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 11% 15%;
    --foreground: 213 27% 84%;

    --card: 210 11% 15%;
    --card-foreground: 213 27% 84%;

    --popover: 210 11% 15%;
    --popover-foreground: 213 27% 84%;

    --primary: 214 100% 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 10% 23%;
    --secondary-foreground: 213 27% 84%;

    --muted: 210 10% 23%;
    --muted-foreground: 215 20% 65%;

    --accent: 210 10% 23%;
    --accent-foreground: 213 27% 84%;

    --destructive: 358 75% 59%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 18% 25%;
    --input: 210 18% 25%;
    --ring: 214 100% 59%;

    --radius: 0.5rem;

    --sidebar-background: 210 11% 15%;
    --sidebar-foreground: 213 27% 84%;
    --sidebar-primary: 214 100% 59%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 23%;
    --sidebar-accent-foreground: 213 27% 84%;
    --sidebar-border: 210 18% 25%;
    --sidebar-ring: 214 100% 59%;
  }

  .dark {
    --background: 210 11% 15%;
    --foreground: 213 27% 84%;

    --card: 210 11% 15%;
    --card-foreground: 213 27% 84%;

    --popover: 210 11% 15%;
    --popover-foreground: 213 27% 84%;

    --primary: 214 100% 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 10% 23%;
    --secondary-foreground: 213 27% 84%;

    --muted: 210 10% 23%;
    --muted-foreground: 215 20% 65%;

    --accent: 210 10% 23%;
    --accent-foreground: 213 27% 84%;

    --destructive: 358 75% 59%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 18% 25%;
    --input: 210 18% 25%;
    --ring: 214 100% 59%;

    --sidebar-background: 210 11% 15%;
    --sidebar-foreground: 213 27% 84%;
    --sidebar-primary: 214 100% 59%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 10% 23%;
    --sidebar-accent-foreground: 213 27% 84%;
    --sidebar-border: 210 18% 25%;
    --sidebar-ring: 214 100% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
